
body {
	font-family: font-family: Arial, Helvetica, sans-serif;
	background-color: #f7f7f7;
}

.text-white {
	color: white;
}

.bg-dark {
	background-color: #353535;
}

.bg-info {
	 background-color: #bee5eb;
}
.flex-container {
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: flex-start;
}
.flex-item {
	
}
.menu-panel {
	max-height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

.card-header {
	font-weight: 600;
	letter-spacing: 2px;
}

.card-text {
	color: #66F;
}
.text-blue {
	color: #5577DD;
}
.myCanvas {
	border: 1px solid #cccccc;
}
.light-shadow {
	-webkit-box-shadow: 0px 0px 3px 0px rgba(150,150,150,0.5);
	-moz-box-shadow: 0px 0px 3px 0px rgba(150,150,150,0.5);
	box-shadow: 0px 0px 3px 0px rgba(150,150,150,0.5);
}	


@media(max-width: 768px) {
	.flex-container {
		flex-direction: column !important;
	}
	.canvas-panel {
		order: 2 !important;
	}
	.menu-panel {
		border-bottom: 2px solid #888888;
		order: 1 !important;
		height: 20vh;
		width: 100vw;
	}
}

.header-button {
	border: 1px solid rgba(200, 200, 200, .7);
	padding: 0px 5px;
	border-radius: 4px;
	background-color: #F5F5FF;
	font-weight: bold;
	color: gray;
}
.header-button:hover {
		cursor: pointer;
		text-decoration: none;
		-webkit-box-shadow: 0px 0px 3px 0px rgba(150,150,150,0.5);
		-moz-box-shadow: 0px 0px 3px 0px rgba(150,150,150,0.5);
		box-shadow: 0px 0px 3px 0px rgba(150,150,150,0.5);
}