<!DOCTYPE html>
<html lang="en">
{{import:shared/head}}
 <body>
	{{import:shared/home_navbar}}
    <div class="container">
		<div style="min-height: 75vh;">
			<header class="jumbotron my-4 mt-2 home-jumbo">
				<div class="display-4 mb-1 text-center">Welcome to MathPatterns</div>
				<p class="lead text-center mb-4">An exploration of mathematical and algorithmic artwork</p>
				<div class="text-center">
				<a href="circles/pattern1.html" class="btn btn-primary btn-lg">Circles</a>
				<a href="fractals/fractal1.html" class="btn btn-primary btn-lg">Fractals</a>
				<p><br>There isn't much here yet, but check back soon for updates.</br>
				</div>
			</header>
		</div>
    </div>
	{{import:shared/footer}}
	{{import:shared/js_includes}}
</body>

</html>
