<!DOCTYPE html>
<html>
{{import:../shared/head}}
<body>
	{{import:../shared/navbar}}
	<div class="flex-container">
		<div class="flex-item menu-panel">
			<div class="card">
				<div class="card-header bg-info text-white text-center">
					Modify Drawing
				</div>
				<div class="card-block mt-1 ml-2 mr-2">
					<div class="card-text text-center">
						Use the sliders below to change the shape, color, and complexity of the figure!
						<br>
						<div class="row mt-0">	
							<div class="col-6 text-left"></div>
							<div class="col-6 text-right"><a href="fractal2.html" class="text-right header-button">Next ></a></div>	
						</div>
					</div>
					<div class="form-group mt-2">
						<ul class="nav nav-tabs">
						  <li class="nav-item">
							<a class="nav-link active" id="base-button" name="base-options" href="#" onclick="optionsMenu('b')">Base</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" id="color-button" name="color-options" href="#" onclick="optionsMenu('c')">Colors</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link bg-inactive" id="animate-button" name="animate" href="#" >Animate</a>
						  </li>
						</ul>
					</div>
					<hr>
					<div id="baseoptions">
						<div>
						  <label class="form-check-label" for="length">Segment length</small></label>
						  <input id="length" class="center-range redraw-element" type="range" min="5" max="70" step="1" value="60" />
						</div>
						<hr>
						<div>
						  <label class="form-check-label">Angle</label>
						  <input id="anglediv" class="center-range redraw-element" type="range" min=".1" max="180" step=".1" value="25" />
						</div>
						<hr>
						<div>
						  <label class="form-check-label" for="anim-speed">Animation Speed</label>
						  <input id="anim-speed" class="center-range redraw-element" type="range" min=".002" max=".1" step=".002" />
						</div>
						<hr>
						<div>
						  <label class="form-check-label" for="branch-count">Number of branches: </label>
						  <input type="number" class="form-control" id="branch_count" value="4" />
						</div>
						<hr>
					</div>

					<div id="coloroptions">
						<div>
						  <label class="form-check-label" for="bg-color">Background Color: </label>
						  <input type="color" id="bg-color" class="colorpick" value="#FFFFFF" />
						</div>
						<hr>
						<div>
						  <label class="form-check-label" for="start-color">Gradient 1 Start Color: </label>
						  <input type="color" id="start-color" class="colorpick" value="#FF00FF" />
						</div>
						<hr>
						<div>
						  <label class="form-check-label" for="stop-color">Gradient 1 End Color: </label>
						  <input type="color" id="stop-color" class="colorpick" value="#0000FF" />
						</div>
						<hr>
					</div>
				</div>
			</div>
		</div>
		
		<div class="flex-item canvas-panel">
			<canvas id="main-canvas" class="light-shadow form-element" style="">
				Your browser does not support the HTML5 canvas tag.
			</canvas>
		</div>
	</div>	
	{{import:../shared/footer}}
	{{import:../shared/js_includes}}
	{{js:fractal1.js}}
	<script>
		function optionsMenu(option){
			var baseDiv = document.getElementById('baseoptions');
			var colorDiv = document.getElementById('coloroptions');
			var baseButton = document.getElementById('base-button');
			var colorButton = document.getElementById('color-button');
			if (option == 'c') {
			  baseDiv.style.display = 'none';
			  colorDiv.style.display = 'block';
			  colorButton.classList.add('active');
			  baseButton.classList.remove('active');
			}
			else {
			  baseDiv.style.display = 'block';
			  colorDiv.style.display = 'none';
			  colorButton.classList.remove('active');
			  baseButton.classList.add('active');
			}
		}	
		
		$(function(){
			$(".redraw-element").on("change", drawFractal1);
			$(".colorpick").on("change", setColors);
			document.getElementById("branch_count").onchange = setBranch;
			var canvas = document.getElementById("main-canvas");
			var ctx = canvas.getContext("2d");
			updateCanvasSize(canvas, drawFractal1);
			$(window).resize(function() { updateCanvasSize(canvas, drawFractal1) });
			
			$("#animate-button").on("click", function() {
				if (this.classList.contains("bg-active")) {
					this.classList.add("bg-inactive");
					this.classList.remove("bg-active");
				} else {
					this.classList.remove("bg-inactive");
					this.classList.add("bg-active");
				}
				animateFractal();
			});
			optionsMenu('b');
			drawFractal1();
		});
	</script>
</body>
</html>
