<!DOCTYPE html>
<html>
{{import:../shared/head}}
<body>
	{{import:../shared/navbar}}
	<div class="flex-container">
		<div class="flex-item menu-panel">
			<div class="card">
				<div class="card-header bg-info text-white text-center">
					Modify Drawing
				</div>
				<div class="card-block mt-1 ml-2 mr-2">
					<div class="card-text text-center">
						Use the sliders below to change the shape, color, and complexity of the figure!
						<br>
						<div class="row mt-0">	
							<div class="col-6 text-left"><a href="pattern1.html" class="text-right header-button">< Prev </a></div>
							<div class="col-6 text-right"><a href="pattern3.html" class="text-right header-button">Next ></a></div>	
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col">Radius <span id="radius-display" class="text-blue"></span></div>
						<div class="col"><input type="range" id="radius" min="5" max="350" value="250" class="form-element" /></div>
					</div>
					<hr>
					<div class="row">
						<div class="col">Degree Increment <span id="deg-inc-display" class="text-blue"></span></div>
						<div class="col"><input type="range" id="deg-inc" min="5" max="180" value="20" class="form-element" /></div>
					</div>
					<hr>
					<div class="row">
						<div class="col">Line Color</div>
						<div class="col"><input type="color" id="circle-color" class="form-element" style="width: 90%;" /></div>
					</div>
					<hr>

					<div class="row">
						<div class="col">Point Color</div>
						<div class="col"><input type="color" id="point-color" class="form-element" style="width: 90%;" /></div>
					</div>
					<hr>
					<div class="row">
						<div class="col">Line Width <span id="line-width-display" class="text-blue"></div>
						<div class="col"><input type="range" id="line-width" min="1" max="10" value="1" class="form-element" /></div>
					</div>
					<hr>
					<div class="row">
						<div class="col">Point Size <span id="point-size-display" class="text-blue"></div>
						<div class="col"><input type="range" id="point-size" min="1" max="10" value="5" class="form-element" /></div>
					</div>
					<hr>
				</div>
			</div>
		</div>
		<div class="flex-item canvas-panel">
			<canvas id="myCanvas" class="light-shadow form-element" style="">
				Your browser does not support the HTML5 canvas tag.
			</canvas>
		</div>
	</div>	
	{{import:../shared/footer}}
	{{import:../shared/js_includes}}
	<script type="text/javascript" src="../js/CirclePatterns.js"></script>
	<script>
		var r = parseInt($("#radius").val());
		var degInc = parseInt($("#deg-inc").val());
		var cColor = $("#circle-color").val();
		var pColor = $("#point-color").val();
		var lineWidth = parseInt($("#line-width").val());
		var pointSize = parseInt($("#point-size").val());
		var degDisplay = $("#degree-display");
		var radiusDisplay = $("#radius-display");
		var degIncDisplay = $("#deg-inc-display");
		var lineWidthDisplay = $("#line-width-display");
		var pointSizeDisplay = $("#point-size-display");
		
		function updateDisplay(ctx) {
			var r = parseInt($("#radius").val());
			radiusDisplay.html("("+r+")");
			var degInc = parseInt($("#deg-inc").val());
			degIncDisplay.html("("+degInc+")");
			var cColor = $("#circle-color").val();
			var pColor = $("#point-color").val();
			var lineWidth = parseInt($("#line-width").val());
			lineWidthDisplay.html("("+lineWidth+")");
			var pointSize = parseInt($("#point-size").val());
			pointSizeDisplay.html("("+pointSize+")");
			drawPattern2(ctx, r, degInc, cColor, pColor, lineWidth, pointSize);
		}
		
		function updateCanvasSize(canvas, ctx) {
			if (window.innerWidth <= 768) {
				canvas.width = window.innerWidth;
				canvas.height = parseInt(window.innerHeight*.8);
			} else {
				canvas.width = parseInt(window.innerWidth*.75);
				canvas.height = parseInt(window.innerHeight*.9);
			}
			updateDisplay(ctx);
		}
		
		$(document).ready(function(){
			var canvas = document.getElementById("myCanvas");
			var ctx = canvas.getContext("2d");
			updateCanvasSize(canvas, ctx);
			$(".form-element").change(function() {	
				updateDisplay(ctx);
			});
			$(window).resize(function() {
				updateCanvasSize(canvas, ctx);
			});
			
		});

	</script>
</body>
</html>
