<footer class="py-5 bg-dark">
  <div class="container">
	<p class="m-0 text-center text-white">Last updated Fall 2017 by <a href="http://www.jjanelle.me">Jon Janelle</a></p>
	
  </div>
  <!-- /.container -->
</footer>