<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A collection of circle based patterns that highlight the artistic potential of mathematics">
    <meta name="author" content="Jon Janelle">
	<title>Math Patterns</title>
	{{css:bootstrap.min.css}}
	{{css:styles.css}}
	{{css:fractal_styles.css}}
</head>
